<div class="highlight" style="background: #272822"><pre style="line-height: 125%"><span></span><span style="color: #75715e">#ifdef __APPLE__</span>
<span style="color: #75715e">#include</span> <span style="color: #75715e">&lt;GLUT/glut.h&gt;</span>
<span style="color: #75715e">#else</span>
<span style="color: #75715e">#include</span> <span style="color: #75715e">&lt;GL/glut.h&gt;</span>
<span style="color: #75715e">#endif</span>

<span style="color: #75715e">#include</span> <span style="color: #75715e">&quot;Const.h&quot;</span>
<span style="color: #75715e">#include</span> <span style="color: #75715e">&quot;Cube.h&quot;</span>
<span style="color: #75715e">#include</span> <span style="color: #75715e">&quot;CameraKeyBoard.h&quot;</span>

<span style="color: #f8f8f2">Cube</span> <span style="color: #f8f8f2">cube;</span>

<span style="color: #66d9ef">void</span> <span style="color: #a6e22e">display</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">void</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
    <span style="color: #f8f8f2">glClear(GL_COLOR_BUFFER_BIT</span> <span style="color: #f92672">|</span> <span style="color: #f8f8f2">GL_DEPTH_BUFFER_BIT);</span>
    <span style="color: #f8f8f2">cube.draw();</span>
    <span style="color: #f8f8f2">glutSwapBuffers();</span>
<span style="color: #f8f8f2">}</span>

<span style="color: #66d9ef">void</span>
<span style="color: #a6e22e">init</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">void</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>

    <span style="color: #75715e">/* Use depth buffering for hidden surface elimination. */</span>
    <span style="color: #f8f8f2">glEnable(GL_DEPTH_TEST);</span>

    <span style="color: #75715e">/*</span>
<span style="color: #75715e">      From left to right</span>
<span style="color: #75715e">      </span>
<span style="color: #75715e">      [ProjectionMatrix] ⊗ [ModelViewMatrix] ⊗ [Translation][Rotation] ⊗ [model space]</span>
<span style="color: #75715e">      </span>
<span style="color: #75715e">      [ProjectionMatrix]  ⇒ Map Frustum to Cube</span>
<span style="color: #75715e">        ⊗  ↓</span>
<span style="color: #75715e">      [ModelViewMatrix]   ⇒ Change Coordinates from object space to Eye/Camera Coordinates</span>
<span style="color: #75715e">        ⊗  ↓</span>
<span style="color: #75715e">      [Translate]         ⇒ Transformation in model space, [Translation] [Rotation]</span>
<span style="color: #75715e">      [Rotation]</span>
<span style="color: #75715e">        ⊗  ↓</span>
<span style="color: #75715e">      [model space]       </span>

<span style="color: #75715e">     */</span>
    <span style="color: #75715e">/* Setup the view of the cube. */</span>
    <span style="color: #f8f8f2">glMatrixMode(GL_PROJECTION);</span>
    <span style="color: #f8f8f2">gluPerspective(</span> <span style="color: #75715e">/* field of view in degree */</span> <span style="color: #ae81ff">40.0</span><span style="color: #f8f8f2">,</span>
            <span style="color: #75715e">/* aspect ratio */</span> <span style="color: #ae81ff">1.0</span><span style="color: #f8f8f2">,</span>
            <span style="color: #75715e">/* Z near */</span> <span style="color: #ae81ff">1.0</span><span style="color: #f8f8f2">,</span> <span style="color: #75715e">/* Z far */</span> <span style="color: #ae81ff">10.0</span><span style="color: #f8f8f2">);</span>
    <span style="color: #f8f8f2">glMatrixMode(GL_MODELVIEW);</span>
<span style="color: #75715e">//    gluLookAt(0.0, 0.0, 5.0,  /* eye is at (0,0,5) */</span>
<span style="color: #75715e">//              0.0, 0.0, 0.0,      /* center is at (0,0,0) */</span>
<span style="color: #75715e">//              0.0, 1.0, 0.);      /* up is in positive Y direction */</span>

    
    <span style="color: #75715e">// gluLookAt(camera.getX(), camera.getY(), camera.getZ(),</span>
    <span style="color: #75715e">//          0.0, 0.0, 0.0,</span>
    <span style="color: #75715e">//          0.0, 1.0, 0.0);</span>
    
    <span style="color: #f8f8f2">gluLookAt(</span><span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">2.0</span><span style="color: #f8f8f2">,</span>
              <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span>
              <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">1.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">);</span>

    <span style="color: #75715e">/* Adjust cube position to be asthetic angle. */</span>
    <span style="color: #f8f8f2">glTranslatef(</span><span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #f92672">-</span><span style="color: #ae81ff">2.5</span><span style="color: #f8f8f2">);</span>
    <span style="color: #f8f8f2">glRotatef(</span><span style="color: #ae81ff">5</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">1.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">);</span>
    <span style="color: #f8f8f2">glRotatef(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">5</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">0.0</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">1.0</span><span style="color: #f8f8f2">);</span>
<span style="color: #f8f8f2">}</span>

<span style="color: #75715e">// Requests to draw the next frame.</span>
<span style="color: #66d9ef">void</span> <span style="color: #a6e22e">timer</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">v)</span> <span style="color: #f8f8f2">{</span>
    <span style="color: #f8f8f2">glutPostRedisplay();</span>
    <span style="color: #f8f8f2">glutTimerFunc(</span><span style="color: #ae81ff">1000</span><span style="color: #f92672">/</span><span style="color: #ae81ff">60</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">timer,</span> <span style="color: #f8f8f2">v);</span>
<span style="color: #f8f8f2">}</span>

<span style="color: #66d9ef">int</span>
<span style="color: #a6e22e">main</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">argc,</span> <span style="color: #66d9ef">char</span> <span style="color: #f92672">**</span><span style="color: #f8f8f2">argv)</span> <span style="color: #f8f8f2">{</span>
    <span style="color: #f8f8f2">glutInit(</span><span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">argc,</span> <span style="color: #f8f8f2">argv);</span>
    <span style="color: #f8f8f2">glutInitDisplayMode(GLUT_DOUBLE</span> <span style="color: #f92672">|</span> <span style="color: #f8f8f2">GLUT_RGB</span> <span style="color: #f92672">|</span> <span style="color: #f8f8f2">GLUT_DEPTH);</span>
    <span style="color: #f8f8f2">glutCreateWindow(</span><span style="color: #e6db74">&quot;red 3D lighted cube&quot;</span><span style="color: #f8f8f2">);</span>
    <span style="color: #f8f8f2">glutDisplayFunc(display);</span>
    <span style="color: #f8f8f2">glutSpecialFunc(keyboard);</span>
    <span style="color: #f8f8f2">glutTimerFunc(</span><span style="color: #ae81ff">100</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">timer,</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">);</span>
    <span style="color: #f8f8f2">init();</span>
    <span style="color: #f8f8f2">glutMainLoop();</span>
    <span style="color: #66d9ef">return</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">;</span>             <span style="color: #75715e">/* ANSI C requires main to return int. */</span>
<span style="color: #f8f8f2">}</span>
</pre></div>
